@import "../Layout/spacing.css";

.section {
    background: #fff;
}

.intro {
    display: grid;
    grid-template:
            "title image" 1fr
            "companies image";
}

@media (--ktl-tl) {
    .intro {
        display: flex;
        flex-direction: column;
    }
}
@media (--ktl-mm) {
    .title-desktop {
        display: none;
    }
}

@media (--ktl-mm-min) {
    .title-mobile {
        display: none;
    }
}

.companies {
    display: flex;
    align-items: center;

    grid-area: companies;
    order: 1;
}

.company {
    font-size: 0.001em;
    line-height: 0.001em;
}

.companies-label, .company {
    padding: 0;
    margin: 0 var(--ktl-box-section-s) 0 0;
}

@media (--ktl-ts-min) {
    .companies-label, .company {
        display: flex;
        align-items: center;
    }

    .companies-label::after, .company::after {
        display: inline-block;
        content: '';
        background: rgba(25, 25, 28, 0.2);
        margin-left: var(--ktl-box-section-s);
        height: 48px;
        width: 1px;
    }
}

@media (--ktl-ts) {
    .companies-label {
        flex-grow: 1;
    }
    .company:last-of-type {
        margin-right: 0;
    }
}

.company--google > .company-image {
    height: 56px;
}

.company--jetbrains > .company-image {
    height: 72px;
}

@media (--ktl-ts) {
    .company--google > .company-image {
        height: 32px;
    }

    .company--jetbrains > .company-image {
        height: 48px;
    }
}

@media (--ktl-ms) {
    .companies-label, .company {
        padding: 0;
        margin: 0;
    }

    .company--google > .company-image {
        margin: 0 0 0 var(--ktl-box-block-m);
    }
}

.picture {
    grid-area: image;
}

.image {
    height: 400px;
    width: 400px;
}

@media (--ktl-ds-min) {
    .image {
        margin: 0 var(--ktl-box-section-m);
    }
}

@media (--ktl-tl) {
    .image {
        margin: var(--ktl-box-section-m) 0;
    }
}

@media (--ktl-mm) {
    .image {
        margin: var(--ktl-box-section-s) 0;
        height: 272px;
        width: 272px;
    }
}
