.introWrap {
    background: #fff;
}

.introPicture {
    display: none;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
}

.company {
    margin-right: 94px;
    margin-bottom: 16px;
}

.company:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
}

@media (min-width: 1080px) {
    .intro {
        position: relative;
    }

    .introContent {
        margin-right: 439px;
    }

    .introPicture {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .introImage {
        width: 460px;
    }
}

@media (min-width: 1280px) {
    .introContent {
        margin-right: 645px;
    }

    .introImage {
        width: 732px;
    }
}
