.container {
  display: flex;
  align-items: stretch;
}

.item {
  flex: 1 0 0;
  display: flex;

  &:first-child {
    margin-right: 16px;
  }
}

@media (--ktl-tm) {
  .container {
    display: block;
  }

  .item:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
