@import "../../../Layout/spacing.css";

.menuTrigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: var(--ktl-box-block-l);
}

@media (min-width: 768px) {
    .menuTrigger {
        display: none;
    }
}