.menuTrigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 16px;
}

@media (min-width: 768px) {
    .menuTrigger {
        display: none;
    }
}