.root {
    background: radial-gradient(
        89.53% 145.96% at 0.34% 100.79%,
        #EF4857 0%,
        #DE4970 17.58%,
        #B44DB0 50.31%,
        #7F52FF 97.03%
    );
    padding: var(--ktl-box-page-m) 0;
}

.top-title {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: var(--ktl-box-section-s);
}