@import "../../Layout/spacing.css";

.tier {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    background: #fff;
    box-shadow: 5px 2px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: var(--ktl-box-section-l) var(--ktl-box-section-s) var(--ktl-box-section-s);

    width: 376px;
    min-height: 432px;

    @media (--ktl-tl) {
        width: 372px;
    }

    @media (--ktl-mm) {
        width: 328px;
        padding: var(--ktl-box-section-s) var(--ktl-box-block-l) var(--ktl-box-block-l);
    }

    @media (--ktl-ms) {
        width: 272px;
    }
}

.content {
    flex-grow: 1;
}
