@import "../../../Layout/spacing.css";

.pane {
    > .trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        margin: 4px;
        width: 48px;
        height: 48px;
    }
}
