@import "../../../Layout/spacing.css";

.pane {
    > .trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        width: 52px;
        height: 52px;
    }
}
