@import "~@rescui/typography/lib/font-inter.css";
@import "~@jetbrains/kotlin-web-site-ui/dist/typography.css";
@import "~@jetbrains/kotlin-web-site-ui/dist/grid.css";

html, body, #___gatsby, #gatsby-focus-wrapper, .layout {
    margin: 0;
    padding: 0;
    width: 100%;
}

body, #___gatsby, #gatsby-focus-wrapper, .layout {
    min-height: 100vh;
}

.layout {
    background: #F4F4F4;
    display: flex;

    flex-direction: column;
}

.layout > .ktl-container {
    flex-grow: 1;
}

.layout__cta-link {
    color: #fff;
    text-decoration: none;
}

.layout__cta-link:hover {
    border-bottom: 2px solid currentColor;
}

.layout__list {
    margin: 0;
    padding: 0;
}
