:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}
