.image::before {
    top: -9px;
    left: -24px;
}

.shadow {
    display: none;
}

@media (--ktl-tm-min) {
    .section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .wrap {
        position: relative;
        width: 600px;
    }


    .shadow {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        margin: 0 0 0 -136px;
    }

    .shadow::before {
        display: block;
        content: '';
        position: absolute;
        background:  url("../section-shadow.svg") center center no-repeat;
        background-size: 400px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 400px;
        width: 400px;
    }

    .image {
        position: relative;
    }
}

@media (--ktl-ds) {
    .wrap::before {
        margin-left: -116px;
    }
}

@media (--ktl-tl) {
    .wrap::before {
        margin-left: -108px;
    }
}

@media (--ktl-ts-min) {
    .title-br {
        display: none;
    }
}

@media (--ktl-ts) {
    .text-br {
        display: none;
    }
}

.use-logo {
    --into-highlight-image: url("./images/use-logo.svg");
}

.add-logo {
    --into-highlight-image: url("./images/add-logo.svg");
}