.section {
    --into-section-image: url("./images/section.png");
}

@media (--ktl-tm-min) {
    .section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .wrap {
        position: relative;
        width: 600px;
    }

    .wrap::before {
        display: block;
        content: '';

        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        margin-left: -136px;

        background: url("./images/section-large.png") center center no-repeat;
        background-size: 328px;
        height: 328px;
        width: 328px;
    }
}

@media (--ktl-ds) {
    .wrap::before {
        margin-left: -116px;
    }
}

@media (--ktl-tl) {
    .wrap::before {
        margin-left: -108px;
    }
}

@media (--ktl-ts-min) {
    .title-br {
        display: none;
    }
}

@media (--ktl-ts) {
    .text-br {
        display: none;
    }
}

.use-logo {
    --into-highlight-image: url("./images/use-logo.svg");
}

.add-logo {
    --into-highlight-image: url("./images/add-logo.svg");
}