.codeInner {
    display: inline-block;
    box-sizing: border-box;
    padding: var(--ktl-box-block-l);
    overflow: auto;
    white-space: pre;
    background: rgba(25,25,28,.05);
    border-radius: 8px;
    max-width: 100%;
}

.codeInner > code {
    display: block;
}