.markdown > *:first-child {
    margin-top: 0;
}

.code-inner {
    display: inline-block;
    box-sizing: border-box;
    padding: var(--ktl-box-block-l);
    overflow: auto;
    white-space: pre;
    background: rgba(25,25,28,.05);
    border-radius: 8px;
    max-width: 100%;
}

.code-inner > code {
    display: block;
}