.markdown {
    --ktf-markdown-para-spacing: 1.5em;
}

/* all tags of first level. */
.markdown > :is(.h1, .h2, .h3, .h4, .h5, .h6, .para, .list, .quote, .code-block) {
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
}

.h1 {
    margin-top: var(--ktl-box-section-l);
    margin-bottom: var(--ktl-box-section-l);
}

.h2 {
    margin-top: var(--ktl-box-section-l);
    margin-bottom: var(--ktl-box-section-m);
}

.h3 {
    margin-top: var(--ktl-box-section-m);
    margin-bottom: var(--ktl-box-section-s);
}

.h4, .h5, .h6 {
    margin-top: var(--ktl-box-section-s);
    margin-bottom: var(--ktl-box-block-l);
}

.list:has(+ *), .para:has(+ *) {
    margin-bottom: var(--ktf-markdown-para-spacing);
}

.quote {
    margin-left: 0;
    margin-right: 0;

    > .para {
        font-weight: 600;
    }
}

.code-block {
    display: inline-block;
    box-sizing: border-box;
    padding: var(--ktl-box-block-l);
    overflow: auto;
    white-space: pre;
    background: rgba(25,25,28,.05);
    border-radius: 8px;
    max-width: 100%;
}

.code-block > code {
    display: block;
}

.tag-anchor {
    position: absolute;
    margin-top: calc(-1 * var(--ktf-header-height) - 5px);
}
