@import "../Layout/spacing.css";

:root {
    --ktf-header-height: 64px;
}

@media (--ktl-tm) {
    :root {
        --ktf-header-height: 52px;
    }
}

.header {
    box-sizing: border-box;
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    height: var(--ktf-header-height);
    padding: 0 var(--ktl-box-section-l);
    position: sticky;
    top: 0;
    z-index: 900;
    border-bottom: 1px solid rgba(39, 40, 44, 0.2);

    @media (--ktl-tm) {
        padding-left: var(--ktl-box-section-s);
        padding-right: var(--ktl-box-section-s);
    }

    @media (--ktl-tm) {
        padding-left: var(--ktl-box-block-l);
        padding-right: var(--ktl-box-block-l);
    }
}

.nav {
    display: flex;
    align-items: center;
}

.group {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: var(--ktl-box-section-l);
    text-decoration: none;
}

.logo-image {
    display: flex;
    margin-right: var(--ktl-box-block-s);
}

.logo-text {
    color: var(--ktf-bg-dark);

    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

    @media (--ktl-ts) {
        font-size: 16px;
        line-height: 24px;
    }
}

.header-link {
    @media (--ktl-tl) {
        display: none;
    }
}

.join-link {
    border: none;
    text-decoration: none;
    margin-right: var(--ktl-box-section-l);
}

.join-link--active {
    display: none;
}

.desktop-menu {
    margin-bottom: -1px;

    @media (--ktl-tm) {
        display: none;
    }
}

@media (--ktl-tm-min) {
    .join-link, .mobile-menu {
        display: none;
    }
}
