.section {
    padding-top: 72px;
}

.image::before {
    top: -9px;
    left: -24px;
}

.shadow {
    display: none;
}

@media (--ktl-tm-min) {
    .wrap {
        position: relative;
        width: 600px;
    }

    .shadow {
        display: block;
        content: '';

        position: absolute;
        top: -316px;
        right: -54px;
        transform: translate(100%);
        margin: 0;
    }

    .shadow::before {
        display: block;
        content: '';
        position: absolute;
        background: url("./images/shadow.svg") center center no-repeat;
        background-size: 480px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 480px;
        width: 480px;
    }

    .image {
        position: relative;
    }

    .titleBr {
        display: none;
    }
}

@media (--ktl-ds) {
    .shadow {
        right: 0;
    }
}

@media (--ktl-tl) {
    .shadow {
        right: 56px;
    }
}

.sustain {
    --into-highlight-image: url("./images/sustain.svg");
}

.contribute {
    --into-highlight-image: url("./images/contribute.svg");
}
