.join {
    display: flex;
    align-items: center;
    padding: 0 var(--ktl-box-block-l);
    height: var(--ktf-header-height);
}

.active {
    display: none;
}

@media (--ktf-header-desktop) {
    .join {
        display: none;
    }
}
