.cta-link {
    color: #fff;
    text-decoration: none;
}

.cta-link:hover {
    border-bottom: 2px solid currentColor;
}

@media (max-width: 550px) {
    .cta-link {
        font-size: 24px;
        line-height: 32px;
    }
}