.ctaLink {
    color: #fff;
    text-decoration: none;
}

.ctaLink:hover {
    border-bottom: 2px solid currentColor;
}

@media (max-width: 550px) {
    .ctaLink {
        font-size: 24px;
        line-height: 32px;
    }
}