@import "../../Layout/spacing.css";

.menu {
    display: flex;
    padding: 0;
    margin: 0 calc(-1px * var(--ktl-box-section-s));
    list-style-type: none;
}

.link {
    display: flex;
    position: relative;
    align-items: center;

    padding-left: calc(var(--ktl-box-section-s) / 2);
    padding-right: calc(var(--ktl-box-section-s) / 2);

    letter-spacing: 0.0015em;

    &:hover { background: var(--ktl-menu-item-active-bg); }

    &:not(.link--active) {
        text-decoration: none;
        border-bottom-color: transparent;
    }
}

.link--active {
    padding-bottom: 0;
    border-bottom-color: var(--rs-underline-color-hover);
    border-bottom-width: 2px;
}

.menu, .link, .item {
    box-sizing: border-box;
    height: var(--ktf-header-height);
}
