@import "../Layout/spacing.css";

@media (min-width: 560px) {
    .person {
        display: flex;
        align-items: center;
    }
}

.info {
    display: flex;
    flex-direction: column;
}

.photo-wrap {
    position: relative;
    margin-right: var(--ktl-box-block-l);
}

.photo {
    border-radius: 1000px;
    height: 94px;
    width: 80px;
    min-width: 80px;

    transform: translateZ(0); /* Safari and (radius + overflow:hidden) bug fix */
}

.person--size-xl {
    display: flex;
    flex-direction: column;
}

.person--size-xl > .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* under drop-shadow from photo */
    position: relative;
}

.person--size-xl > .photo-wrap {
    margin: 0;
}

.person--size-xl > .photo-wrap > .photo {
    border-radius: 200px;
    height: 190px;
    width: 152px;

    box-shadow: 0 10px 30px #DED5E1, 0 25px 70px rgba(209, 197, 212, 0.8);
}

@media (min-width: 960px) {
    .person--size-xl > .photo-wrap > .photo {
        width: 220px;
        height: 280px;
    }
}
