@media (min-width: 560px) {
    .person {
        display: flex;
        align-items: center;
    }
}

.info {
    display: flex;
    flex-direction: column;
}

.photo-wrap {
    position: relative;
    margin-right: var(--ktl-box-block-l);
}

.photo {
    border-radius: 1000px;
    height: 94px;
    width: 80px;
    min-width: 80px;

    transform: translateZ(0); /* Safari and (radius + overflow:hidden) bug fix */
    z-index: 2;
}

.person_size_xl {
    display: flex;
    flex-direction: column;
}

.person_size_xl > .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* under drop-shadow from photo */
    position: relative;
}

.person_size_xl > .photo-wrap {
    margin: 0;
}

.person_size_xl > .photo-wrap > .photo {
    border-radius: 200px;
    height: 190px;
    width: 152px;

    box-shadow: 0 10px 30px #DED5E1, 0 25px 70px rgba(209, 197, 212, 0.8);
}

@media (min-width: 960px) {
    .person_size_xl > .photo-wrap > .photo {
        width: 220px;
        height: 280px;
    }
}

@define-mixin mascot-anim $x {
    transform: translateY($x) var(--mascot-rotate) ;
}

@keyframes mascot-animation-in {
    0% {
        transform: rotate(0deg) translateY(0);
        z-index: 1;
    }
    49% {
        transform: rotate(0deg) translateY(-70%);
        z-index: 1;
    }
    50% {
        transform: rotate(0deg) translateY(-70%);
        z-index: 3;
    }
    100% {
        @mixin mascot-anim 0;
        z-index: 3;
    }
}

@keyframes mascot-animation-out {
      0% { @mixin mascot-anim 0; }
     50% { @mixin mascot-anim 1%; }
    100% { @mixin mascot-anim 0; }
}

.photo-wrap {
    &::after {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background: transparent var(--person-mascot-url, url('../../images/mascots/1.svg')) no-repeat top center;
        background-size: 75%;
        z-index: 3;
        animation: mascot-animation-in 250ms, mascot-animation-out 300ms 250ms infinite;
        transform: var(--mascot-rotate, rotate(0deg));
        will-change: background-size, transform;

        .person_position_1 & {
            --mascot-rotate: rotate(9deg);
            background-position: 45% 39%;
            background-size: 80%;
        }

        .person_position_2 & {
            --mascot-rotate: rotate(3deg);
            background-position: 100% 25%;
            background-size: 85%;
        }

        .person_position_3 & {
            --mascot-rotate: rotate(15deg);
            background-position: 68% 35%;
            background-size: 70%;
        }

        .person_position_4 & {
            --mascot-rotate: rotate(-9deg);
            background-position: 30% 30%;
            background-size: 70%;
        }

        .person_position_5 & {
            background-position: 80% 30%;
            background-size: 80%;
            --mascot-rotate: rotate(-4deg);
        }
    }

    @media (--ktl-mm-min) {
        .person--avatar > &:hover::after {
            display: block;
        }
    }
}
