.outer {
    background: var(--ktf-bg-dark);
    padding: 48px 0;
}

.footer {
    display: flex;
    margin-top: -48px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav, .support {
    margin-top: 48px;
}

@media (--ktl-tl-min) {
    .footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        display: flex;
    }

    .nav-item {
        display: flex;
        align-items: center;
    }

    .nav-item::after {
        display: inline-block;
        content: '';
        background: rgba(255, 255, 255, 0.3);
        height: 1.5em;
        margin: 0 1ex;
        width: 1px;
    }

    .nav-item:last-of-type::after {
        display: none;
    }
}

@media (--ktl-tl) {
    .footer {
        flex-direction: column;
    }

    .nav-item {
        margin-top: 16px;
    }

    .nav-item:first-of-type {
        margin-top: 0;
    }
}

.link {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 0 transparent;
    text-decoration: none;
}

.support {
    margin-left: auto;

    display: flex;
    align-items: center;
}

.support-label {
    margin-right: 8px;
    text-align: right;
}