.outer {
  background: var(--ktf-bg-dark);
  padding: var(--ktl-box-section-l) 0;

  @media (--ktl-mm) {
    padding-bottom: var(--ktl-box-section-s);
  }
}

.footer {
  display: flex;
  margin-top: calc(-1 * var(--ktl-box-section-l));
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav,
.support {
  margin-top: var(--ktl-box-section-l);
}

@media (--ktl-tl-min) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
  }

  .navItem {
    display: flex;
    align-items: center;
  }

  .navItem:after {
    display: inline-block;
    content: '';
    background: rgba(255, 255, 255, 0.3);
    height: 1.5em;
    margin: 0 1ex;
    width: 1px;
  }

  .navItem:last-of-type:after {
    display: none;
  }
}

@media (--ktl-tl) {
  .footer {
    flex-direction: column;
  }

  .navItem {
    margin-top: var(--ktl-box-block-l);
  }

  .navItem:first-of-type {
    margin-top: 0;
  }
}

.support {
  margin-left: auto;

  display: flex;
  align-items: center;
}

.supportLabel {
  margin: 0 var(--ktl-box-block-m) 0 0;
  text-align: right;
}

.supportLink {
  font-size: 0;
  line-height: 0;
}
