.tiers {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    padding-top: var(--ktf-fuild-spacing-xl);
    padding-bottom: var(--ktf-fuild-spacing-xl);
    margin-bottom: var(--ktf-fuild-spacing-xl);

    border-bottom: 1px solid rgba(39, 40, 44, 0.2);
}

@media (--ktl-tm-min) {
    .item {
        margin-left: 16px;
    }

    .item:first-of-type {
        margin-left: 0;
    }
}

@media (--ktl-tm) {
    .item {
        margin-top: 16px;
    }

    .item:first-of-type {
        margin-top: 0;
    }
}