@import "../Layout/spacing.css";

.container {
    margin-top: var(--ktl-box-page-m);
    padding-bottom: var(--ktl-box-section-l);
}

.wrapper {
    margin-top: var(--ktl-box-section-s);
}

:global .slick-arrow {
    display: none !important;
}

.item {
    padding: 0 var(--ktl-box-block-m);
}

.media {
    width: 320px;
    position: relative;
    padding-top: 54.8%;
    border-radius: 8px;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    margin-top: var(--ktl-box-section-s);
}

.content {
    display: none;
    position: relative;
}

.arrow {
    position: absolute;
    color: rgba(39, 40, 44, 0.7);
}

.prev {
    right: 38px;
}

.next {
    right: 0;
}

@media (min-width: 480px) {
    .media {
        width: 420px;
    }
}

@media (min-width: 768px) {
    .media {
        width: 600px;
        border-radius: 16px;
    }

    .player {
        width: calc(100% - var(--ktl-box-page-s));
    }

    .content {
        display: block;
    }
}

@media (--ktl-ts) {
    .header {
        max-width: 12ch;
    }
}

@media (--ktl-mm) {
    .container {
        margin-top: var(--ktl-box-section-l);
    }
}