@media (--ktl-tl) {
  .extraSpace {
    margin-top: var(--ktl-box-page-m);
    margin-bottom: var(--ktl-box-page-m);
  }
}

@media (--ktl-mm) {
  .extraSpace {
    margin-top: var(--ktl-box-section-l);
    margin-bottom: var(--ktl-box-section-l);
  }
}
