@import "../Layout/spacing.css";

.intro {
    background: none white top right no-repeat;
    overflow: hidden;

    padding-bottom: var(--ktl-box-page-m);

    @media (--ktl-tm-min) {
        background-image: url("./bg.svg");
    }
}
