.wrapper {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.menu {
    background: #F4F4F4;
    margin: 0;
    list-style-type: none;
    padding: 16px 0;
}

.menuWhiteBg {
    background: #fff;
}

.link {
    display: block;
    padding: 8px 16px;
    line-height: 24px;
    text-decoration: none;
    color: rgba(39, 40, 44, 1);
}

.link:hover {
    background: rgba(39, 40, 44, 0.1);
    cursor: pointer
}

.linkActive {
    background: rgba(39, 40, 44, 1);
    color: #fff;
}

.linkActive:hover {
    background: rgba(39, 40, 44, 1);
    color: #fff;
}


@media (min-width: 768px) {
    .wrapper {
        display: none;
    }
}
