@import "../../../Layout/spacing.css";

.wrapper {
    position: fixed;
    top: var(--ktf-header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.menu {
    background: #fff;
    margin: 0;
    list-style-type: none;
    padding: var(--ktl-box-block-l) 0;
}

.link {
    display: block;
    padding: var(--ktl-box-block-m) var(--ktl-box-block-l);

    color: var(--ktf-bg-dark);
    line-height: 24px;
    text-decoration: none;

    &:hover {
        background: rgba(39, 40, 44, 0.1);
        cursor: pointer
    }
}

.link--active {
    &, &:hover {
        background: var(--ktf-bg-dark);
        color: #fff;
    }
}
