.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.image {
    display: flex;
    margin-right: var(--ktl-box-block-s);
}

.text {
    color: var(--ktf-bg-dark);

    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    @media (--ktf-header-mobile) {
        font-size: 16px;
        line-height: 24px;
    }
}

.text-sidebar {
    @media (--ktl-ts-min) {
        display: none;
    }
}
